# Base R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# env
/renv

# data
/data

# output
output/*
!output/sessioninfo.txt
!output/fgr_model_final.RData
!output/fgr_model_original.RData
!output/fgr_model_recalibrated.RData

# plots
/plots

# reports
/report

# study plan
/plan

# other
/R/aboi.cif.R